.qr-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.qr-frame{
    background-color: #ffffff;
    width: fit-content;
    padding: 20px;
}

button{
    padding: 0.5rem;
    margin: 0.5rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

input{
    background-color: #eeeeee;
    padding: 0.5rem;
    margin: 0.5rem;
    border: none;
    border-radius: 5px;
}